.pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px 16px;
    padding-top: 24px;
    padding-bottom: 24px;

    @media (min-width: 1280px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px 30px;
    }
}
