.header {
    padding: 10px 8px;

    background: #EBA000;
    border-radius: 16px; 

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 16px 12px;
    }

    .logo {
        width: 154px;
        height: 100%;

        @media (max-width: 768px) {
            margin: 20px;            
        }
    }

    .navigation {
        display: block;
        border: 1px solid #0B213F;
        border-radius: 16px;
        padding: 4px;
        color: #0B213F; 
        @media (max-width: 768px) {
            font-size: 12px;            
        }


        .navLink {
            display: inline-block;
            color: inherit;
            padding: 12px 24px;
            border-radius: 12px;
    
            &.active {
                color: white;
                background-color:  #0B213F;
            }
            &:hover {
                color: white;
                background-color:  #0b213f66;
            }
        }
    }
}